%h1 Votes
%table.table.table-striped
  %tr
    %th Points
    %th Votes
    %th Players
  - scores = @game.votes.current.group(:points).count.sort_by { |k,v| -v }
  - scores.each do |points, count|
    %tr
      %td
        %button.btn.btn-info.btn-vote-sm= points
      %td= count
      %td
        = @game.votes.current.where(points: points).map {|v|v.player.name}.join ', '

.text-center
  = link_to '< Re-Vote', player_path(@vote.player),  class: 'btn btn-success btn-lg'
  = link_to 'Next Story', player_path(@vote.player),  class: 'btn btn-primary btn-lg'

%p
